/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #1e1c1c;
  color: #fff;
}